@charset "UTF-8";

@font-face {
  font-family: "lato";
  font-display: swap;
  src: url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  font-display: swap;
  src: url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: lato;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

._no-webp .header{
  background: url("../img/bg.png") 0px 0px no-repeat; }

.header {
  position: fixed;
  width: 100%;
}

.header__body {
  padding: 30px 0px 0px 0px;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

.header__logo {
  font-family: Gilroy;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.header__company-logo {
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  color: #e1e1e1;
}

.header__line {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2px;
          flex: 0 0 2px;
  height: 40px;
  background-color: #89afef;
  margin: 0px 25px;
}

.header__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #5d5d5d;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 175px;
          flex: 0 0 175px;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 165px;
          flex: 0 0 165px;
  max-width: 165px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wsap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43px;
          flex: 0 0 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #2dd038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wsap:hover {
  -webkit-box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
}

.header__viber {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43px;
          flex: 0 0 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #7b519d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__viber:hover {
  -webkit-box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
}

.header__telegram {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43px;
          flex: 0 0 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #5bbaf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__telegram:hover {
  -webkit-box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
}

.header__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__contact {
  font-family: Gilroy;
  font-style: normal;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

.header__phone:hover {
  text-decoration: underline;
}

._no-webp .header__phone::before{
  background: url("../img/header/call.png") 0px 0px no-repeat; }

.header__phone::before {
  content: "";
  width: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 16px;
  margin: 0px 10px 0px 0px;
}

.header__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #333333;
}

.header__mail:hover {
  text-decoration: underline;
}

._no-webp .header__mail::before{
  background: url("../img/header/mail.png") 0px 0px no-repeat; }

.header__mail::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  width: 16px;
  height: 12px;
  margin: 4px 10px 0px 0px;
}

.header__navigation {
  margin: 0px 0px 10px 0px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 2px;
}

.header__link:hover {
  border-bottom: 2px solid #333333;
}

.header__btn-wrap {
  margin: 0px 0px 0px 28px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 195px;
          flex: 0 0 195px;
  height: 44px;
  max-width: 195px;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 195px;
          flex: 0 0 195px;
  height: 100%;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 116.66667%;
  text-align: center;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#f6bd60), to(#e88952));
  background: -o-linear-gradient(left, #f6bd60 0%, #e88952 100%);
  background: linear-gradient(90deg, #f6bd60 0%, #e88952 100%);
  border-radius: 3px;
}

.header__btn:hover {
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
}

.footer {
  height: 200px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* -------------- */

._container {
  max-width: 1160px;
  padding: 0px 10px;
  margin: 0px auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._no-webp .main{
  background: url("../img/bg.png") 0px 0px/cover no-repeat; }

._no-webp .main__wrap{
  background: url("../img/main/mans.png") right 104% no-repeat; }

.main__wrap {
  padding: 240px 0 180px 0;
}

.main__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 127.5%;
  color: #333333;
  width: 675px;
  margin: 0px 0px 30px 0px;
}

.main__price {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  margin: 0px 0px 40px 0px;
}

.main__price span {
  font-weight: 800;
  font-size: 24px;
  line-height: 129.16667%;
}

.main__btn-wrap {
  width: 211px;
  height: 50px;
}

.main__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 50px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 118.75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#87aff1), color-stop(100%, #6c80cb), to(#6c80cb));
  background: -o-linear-gradient(left, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  background: linear-gradient(90deg, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
}

.main__btn:hover {
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
}

._title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #333333;
  margin: 0px 0px 40px 0px;
}

.documents {
  padding: 60px 0px 70px 0px;
}

.documents__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.documents__card {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.documents__item {
  height: 100%;
  text-align: center;
  padding: 32px 0px 25px 0px;
}

.documents__item:hover {
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.documents__item span {
  display: block;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  padding: 0 30px;
}

.documents__img {
  margin: 0px 0px 18px 0px;
}

.programs {
  padding: 0px 0px 100px 0px;
}

.programs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -13.5px;
}

.programs__columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 13.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.programs__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 25px;
}

.programs__item:hover {
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.programs__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 215px;
          flex: 0 0 215px;
  margin: 0px 0px 17px 0px;
}

.programs__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.programs__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #53b43b;
  margin: 0px 0px 20px 0px;
}

.programs__prices {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #333333;
}

._webp .header{ background: url(../img/bg.webp) 0px 0px no-repeat; }

._webp .header__phone::before{ background: url(../img/header/call.webp) 0px 0px no-repeat; }

._webp .header__mail::before{ background: url(../img/header/mail.webp) 0px 0px no-repeat; }

._webp .main{ background: url(../img/bg.webp) 0px 0px/cover no-repeat; }

._webp .main__wrap{ background: url(../img/main/mans.webp) right 104% no-repeat; }